nav{
  height: 70px;
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
  background-color: green;
  color: white;
}

.detail{
  flex: 0px 0px auto;
  display: flex;
  padding: 17px 20px;
}

.fa{
  margin: 0px 10px 0px 0px;
  font-size: 30px;
}

.detail-location{
  display: flex;
  align-items: center;
}

.detail-country{
  font-size: 1.4rem;
  margin-right: 25px;
  font-weight: 200;
}

.detail-location-link{
  color: gray;
}

.detail-image{
  height: 400px;
  border-radius: 9px;
  margin: 24px 37px;
}

.detail-title{
  font-size: 2rem;
  font-weight: 700;
  margin: 0px;
}

.detail-dates{
  font-weight: 600;
}

.green{
  color: green;
}
